<h2><%= action_name == 'new' ? 'New' : 'Edit' %> <%= t('.subjects_title') %></h2>
<br>
<div class="container">
  <%= simple_form_for [:admin, @subject] do |f| %>
      <%= f.input_field :name, collection: [ t('.math'),
                                             t('.chemistry'),
                                             t('.physics'),
                                             t('.geography'),
                                             t('.algebra'),
                                             t('.literature'),
                                             t('.finance'),
                                             t('.reading'),
                                             t('.foreign'),
                                             t('.spanish') ], placeholder: t('.name'), class: "form-control" %>
      <%= f.submit "save", class: "actions btn btn-primary" %>
  <% end %>
  <hr>
  <div class="col-md-3"><%= link_to t('.back'), admin_subjects_path, class: "btn btn-primary" %></div>
</div>
