<div class="form-group col">
  <div class="form-group justify-content-md-center offset-3 col-6">
    <h2><%= t('.page_title') %></h2>
    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.email_field :email,  class: 'form-control', placeholder: t('.email'), label: :email,
                          value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      <%= f.submit t(".resend_confirmation_instructions"), class: "actions btn btn-primary" %>
      <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
