<h2><%= action_name == 'new' ? 'New' : 'Edit' %> <%= t('.teachers_title') %></h2>
<br>
<div class="container">
  <%= simple_form_for [:admin, @teacher] do |f| %>
      <%= f.input_field :subject_id, placeholder: t('.name'), class: "form-control" %>
      <%= f.submit "save", class: "actions btn btn-primary" %>
  <% end %>
  <hr>
  <div class="col-md-3"><%= link_to t('.back'), admin_teachers_path, class: "btn btn-primary" %></div>
</div>
