<h2><%= action_name == 'new' ? 'New' : 'Edit' %> <%= t('.teachers_title') %></h2>
<br>
<div class="container">
  <%= simple_form_for [:admin, @teacher], defaults: { input_html: { class: 'form-control' } } do |f| %>
    <%= f.association :subject, as: :select, label_method: :name, value_method: :id, include_blank: false %>
    <%= f.association :user, as: :select, label_method: :full_name, value_method: :id, include_blank: false %>
    <%= f.submit "save", class: "actions btn btn-primary" %>
  <% end %>
  <hr>
  <div class="col-md-3"><%= link_to t('.back'), admin_teachers_path, class: "btn btn-primary" %></div>
</div>
