<h1 class="text-center"><%= t('.students') %></h1>
<div class="container">
  <table class="table table-striped text-center">
    <thead class="thead-dark">
    <tr>
      <th scope="col"><%= t('.full_name')%></th>
      <th scope="col"><%= t('.address')%></th>
      <th scope="col"><%= t('.email')%></th>
      <th scope="col"><%= t('.birthday')%></th>
      <th scope="col"><%= t('.grade')%></th>
      <th scope="col"><%= t('.parent')%></th>
      <th scope="col"><%= t('.time') %></th>
      <th colspan=3 scope="col"><%= t('.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'student', collection: @students %>
    </tbody>
  </table>
  <hr>
</div>

<%= link_to t('.add_new_student'), new_admin_student_path, class: "btn btn-primary" %>
