<div class="form-group col">
  <div class="form-group justify-content-md-center">
    <h2 class="form-group offset-3 col-6"><%= t('.page_title')%></h2>
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group offset-3 col-6">
        <%= f.email_field :email,  class: 'form-control', placeholder: t(".email") %>
      </div>
      <div class="actions form-group offset-3 col-6">
        <%= f.submit t('.resend_unlock_instructions'), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
