<h2><%= action_name == 'new' ? 'New' : 'Edit' %> <%= t('.subjects_title') %></h2>
<br>
<div class="container">
  <%= form_for @subject do |f| %>
    <div class="col-md-3">
      <%= f.text_field :name, placeholder: t('.name'), class: "form-control" %>
    </div>
    <br>
    <div class="col-md-3">
      <%= f.submit %>
    </div>
  <% end %>
  <hr>
  <div class="col-md-3"><%= link_to t('.back'), subjects_path, class: "btn btn-primary" %></div>
</div>
