<div class="container">
  <div class="col-md-9">
    <h2 class="text-center">Subjects</h2>
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Time</th>
        <th colspan=2 scope="col">Actions</th>

      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @subject.name %></td>
        <td><%= @subject.created_at.strftime("%B %d, %Y") %></td>
        <td><%= link_to 'Edit', edit_subject_path(@subject.id) %></td>
        <td><%= link_to 'Delete', subject_path(@subject.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<%= link_to 'Back', subjects_path, class: "btn btn-primary" %>
