<h1 class="text-center"><%= t('.lessons') %></h1>
<div class="container">
  <table class="table table-striped text-center">
    <thead class="thead-dark">
    <tr>
      <th scope="col"><%= t('.teacher')%></th>
      <th scope="col"><%= t('.subject')%></th>
      <th scope="col"><%= t('.grade')%></th>
      <th scope="col"><%= t('.home_task')%></th>
      <th scope="col"><%= t('.description')%></th>
      <th scope="col"><%= t('.date_at')%></th>
      <th scope="col"><%= t('.time') %></th>
      <th colspan=3 scope="col"><%= t('.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'lesson', collection: @lessons %>
    </tbody>
  </table>
  <hr>
</div>

<%= link_to t('.add_new_lesson'), new_lesson_path, class: "btn btn-primary" %>
