<div class="form-group col">
  <div class="form-group justify-content-md-center">
    <h2 class="form-group offset-3 col-6"><%= t('.login_page_title')%></h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group offset-3 col-6">
        <%= f.email_field :email, class: 'form-control', placeholder: t(".email") %>
      </div>
      <div class="form-group offset-3 col-6">
        <%= f.password_field :password, class: 'form-control', placeholder: t(".current_password"),  autocomplete: "off" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="form-group offset-3 col-6">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="actions offset-3 col-6">
        <%= f.submit "Log In", class: "btn btn-primary" %>
        <%= link_to "Forgot Password", new_user_password_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
