<div class="form-group col">
  <div class="form-group justify-content-md-center offset-3 col-6">
    <p><%= t('.hello')%><%= @resource.email %>!</p>
    <p><%= t('.text_instructions')%></p>
    <p><%= link_to t('.change_my_password'),
                   edit_password_url(@resource, reset_password_token: @token) %></p>
    <p><%= t('.ignore_if_not_requested')%></p>
    <p><%= t('.your_password_not_changed_until_requested')%></p>
  </div>
</div>
