<div class="form-group col">
  <div class="form-group justify-content-md-center">
    <p class="form-group offset-3 col-6"><%= t('.hello')%><%= @resource.email %>!</p>
    <p class="form-group offset-3 col-6"><%= t('.your_account_locked') %></p>
    <p class="form-group offset-3 col-6"><%= t('.click_link_to_unlock') %></p>
    <p class="form-group offset-3 col-6">
      <%= link_to t('.link_to_unlock'), unlock_url(@resource, unlock_token: @token) %></p>
  </div>
</div>
