<!DOCTYPE html>
<html>
  <head>
    <title>SchoolJournal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">

        <% if current_user %>
          <p class="text-center"><%= link_to t('.logout'), destroy_user_session_path, method: :delete %></p>
        <% else %>
          <p class="text-center">
            <%= link_to t('.registration'), new_user_registration_path %> |
            <%= link_to t('.login'), new_user_session_path %>
          </p>

        <% end %>

      <%= yield %>
    </div>



  </body>
</html>
